<!DOCTYPE html>
<html lang="en">

<head>
    <title>MEANSTACK - {{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <link rel="icon" type="image/png" href="/images/favicon.png" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-xl.css">
    <link rel="stylesheet" href="/stylesheets/pushy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
    <link rel="stylesheet" href="/stylesheets/codemirror-style.min.css">
    <link rel="stylesheet" href="/stylesheets/style{{config.env}}.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="/javascripts/jquery.bootpag.min.js"></script>
    <script src="/javascripts/cssbeautify.min.js"></script>
    <script src="/javascripts/expressCart{{config.env}}.js"></script>
    <script src="/javascripts/jquery.dotdotdot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js" > </script> 
    <link href = "https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel = "stylesheet">
    <!-- SEO data -->
    <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "publisher": "{{config.cartTitle}}",
                "url": "{{config.baseUrl}}"
            }
    </script> 
</head>
    <body class="container-fluid">
        {{#if admin}}
            {{{body}}}
        {{else}}  
            {{{body}}} 
        {{/if}}
    </body>
    <script src="/javascripts/pushy.min.js"></script>
</html>